body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  height: 100%;
  font-size: 18px;
}

/* .wrappper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
} */

#stickman {
  width: 80%;
  height: auto;
  aspect-ratio: 16/9, 5;
  padding-left: 30px ;
  color: white;
  border: rgb(160, 160, 160) solid 2px;
  padding: 6px;
  border-radius: 10px;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}
h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.2em;
}

p {
  font-size: 1.2em;
  padding-top: 3px;
  padding-bottom: 3px;
}

#title{
margin-top: 30px;
}

.title-subcaption{
  padding-bottom: 1rem;
}

.description{
  font-size: 16px;
}

#question{
  display: inline-flex;
  background-color: rgba(238, 238, 238, 0.868);
  align-items: center;
  padding: 15px 60px 15px 60px;
  border-radius: 10px;
}

Button {
  background: #fc7294;
  border-radius: 5px;
  border: solid 1px white;
  color: white;
  width: 35px;
  height: 35px;
  margin: 0 10px 10px 0;
  outline: none;
}
Button:hover {
  transition: 0.3s;
  background: white;
  border: solid 1px white;
  color: #d11746d5;
}

.selected {
  background: white;
  border: solid 1px white;
  color: #c1d72e;
}

.btn-2 {
  border-radius: 10px;
  background: #fc7294;
  color: white;
  border: solid 1px white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 10px;
  width: 180px;
  height: 50px;
  margin: 0 10px 10px 0;

  outline: none;
}
.btn-2:hover {
  transition: 0.3s;
  background: #d11746d5;
  border: solid 1px white;
  color: #ffffff;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 50%;
  grid-auto-rows: minmax(1fr, auto);
}

.grid-item-1{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}



.info{
line-height: 0.5rem;
padding-bottom: 1rem;
}

.clue{
  line-height: 2;
}


.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

input{
  height: 2rem;
  width: 13rem;
}